# Default
*               text=auto
# Explicit
*.css           text eol=lf
*.html          text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.md            text eol=lf
# Docker
.dockerignore   text eol=lf
# Git
.gitattributes  text eol=lf
.gitignore      text eol=lf
# Binaries
*.png           binary